.vs
/Library
/Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
/*.csproj
/*.sln
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a
buildvm
minilua
libluajit.so
lj_vm.S
build64

.idea
Logs
obj
Packages/packages-lock.json
UserSettings
winb
wina
.vscode
com.tencent.xlua/Plugins/xlua_il2cpp/
Packages/ProjectCache
Packages/ProjectCache.md5
*.user
Assets/Gen
com.tencent.xlua/Plugins/x86_64/xlua.dll
com.tencent.xlua/Plugins/x86_64/xlua_il2cpp.dll
com.tencent.xlua/Plugins/x86_64/xlua_il2cpp.dll.meta
com.tencent.xlua/Plugins/x86_64/xlua_il2cpp.pdb
com.tencent.xlua/Plugins/x86_64/xlua_il2cpp.pdb.meta
Assets/XLua.meta
