.vs
/Library
/Temp
/*.csproj
/*.sln
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a
buildvm
minilua
libluajit.so
lj_vm.S
build64

.idea
Logs
obj
Packages/packages-lock.json
UserSettings
noil2cppwin
noil2cppandroid
android
AndroidNormal
iOS
iOSNormal
Win
WinNormal
noil2cppios
noil2cppios.zip
il2cppwin
il2cppandroid
il2cppios
il2cppios.zip
.vscode
Packages/ProjectCache
Packages/ProjectCache.md5
*.user
Assets/Gen
com.tencent.xlua/Plugins/x86_64/xlua_il2cpp.dll
com.tencent.xlua/Plugins/x86_64/xlua_il2cpp.dll.meta
.vsconfig
*.log
ProjectSettings/ProjectSettings.asset
com.tencent.xlua/Plugins/xlua_il2cpp/unityenv_for_xlua.h
Assets/Plugins/x86_64
