.vs
/Library
/ProjectSettings
/Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
Assets/xLuaTest.meta
Assets/xLuaTest/
/*.csproj
/*.sln
/build/build*
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
/build/*/*.a
buildvm
minilua
libluajit.so
lj_vm.S
build64

.idea
Logs
obj
Packages/packages-lock.json
UserSettings
win
build/plugin_lua53
.vscode
native_src_il2cpp/Src/FunctionBridge.Gen.h
